body{
    background-color: hotpink;
    text-align: center;
}

    div{
        margin: auto;
        border: 10px solid black (3, 3, 3);
        border-radius: 20px;
        width: 500px;
        height: 350px;
       background-color: chartreuse;(128, 255, 0);
    } 
    img{
        width: 100px;
        height: 100px;
    }